@font-face {
  font-family: Orbitron;
  src: url(fonts/Orbitron-Regular.ttf);
  font-weight: normal;
}

@font-face {
  font-family: Orbitron;
  src: url(fonts/Orbitron-Bold.ttf);
  font-weight: bold;
}

@font-face {
  font-family: Orbitron;
  src: url(fonts/Orbitron-ExtraBold.ttf);
  font-weight: bolder;
}

@font-face {
  font-family: Orbitron;
  src: url(fonts/Orbitron-Medium.ttf);
  font-weight: lighter;
}



html {
  font-family: var(--lumo-font-family);
  --lumo-font-family: Orbitron;
}


