@font-face {
  font-family: Orbitron;
  src: url(fonts/Orbitron-Regular.ttf);
  font-weight: normal;
}

@font-face {
  font-family: Orbitron;
  src: url(fonts/Orbitron-Bold.ttf);
  font-weight: bold;
}

@font-face {
  font-family: Orbitron;
  src: url(fonts/Orbitron-ExtraBold.ttf);
  font-weight: bolder;
}

@font-face {
  font-family: Orbitron;
  src: url(fonts/Orbitron-Medium.ttf);
  font-weight: lighter;
}



html {
  font-family: var(--lumo-font-family);
  --lumo-font-family: Orbitron;
}

html[theme~="dark"] {
  --lumo-base-color: hsl(240, 7%, 11%);
  --lumo-primary-text-color: #FF1FEC;
  --lumo-primary-color: #FF1FEC;
  --lumo-body-text-color: #FDFD55;
}


